<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Student Data Base</title>
</head>
<body>

<form action="." method="post" name="pass-data">

<div style="background-color:powder blue;" align="center">
<!--Adds a heading to the form-->
<h1>******************************</h1>
<h1>COLLAGE OF UNIVERSITY</h1>
<h1>******************************</h1>

<h2>STUDENT DATA BASE MANAGEMENT SYSTEM</h2>


<h3>Chose Your Option :</h3>

<h4 id="add" name="insert">Enter = 1  "INSERT STUDENT DETAILS"</h4>

<h4 id="search" name="search">Enter = 2  "SEARCH STUDENT DETAILS"</h4>

<h4 id="delete" name="delete">Enter = 3  "DELETE STUDENT DETAILS"</h4>

<h4 id="update" name="update">Enter = 4  "UPDATE STUDENT DETAILS"</h4>

<input maxlength=35 name="user-action" size=35>


<input type="submit" value="submit">
</div>
</form>
</body>
</html>

